<%provide(:page_title,@title.topic) %>
<h1>Posts</h1>
<h2><%= @title.topic %></h2>
<table class="table">
  <thead>
  <tr>
    <th>POSTS</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @post.each do |t|  %>
    <tr>
      <td><%=link_to t.name,post_path(t.id) %></td>
      <td><%= link_to "Delete",post_path(t.id),method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add Post',new_topic_post_path %>