<% if params[:topic_id].present? %>
  <div class="new_post">
  <%provide(:page_title,@topic.topic) %>
  <h2><%= @topic.topic %></h2>
    <div id="new_hide">
  <%= link_to "Add Post",new_topic_post_path,remote: true,id: "post"%><br>
    </div>
  <% else %>
  <h1>Posts</h1>
  <%provide(:page_title,"ALL") %>
  <% end %>
<div class="row sort_paginate_ajax">
    <%= render @posts %>
</div>

<%= will_paginate @posts ,renderer: BootstrapPagination::Rails %>

</div>
<!--<div id="page_links">-->
  <%#= paginate @posts %>
<!--</div>-->



<!--
<%#provide(:page_title,@title.topic) %>
<h1>Posts</h1>
<h2><%#= @title.topic %></h2>
<div class="row">
  <%# @post.each do |post|  %>
    <%#= post.comments.length %>
    <%#= render post %>
  <%# end %>
</div>
<%#= will_paginate @post ,previous_lable: '<',next_lable: '>' %>
<%#= link_to 'Add Post',new_topic_post_path %>-->